* {
	box-sizing: border-box;
  }
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #000000, #090909);
    color: #f5f6f7;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
nav {
	display:flex;
	justify-content:center;
    background-color: #242424;
	height: 48.8px;
}
#a{
	color: #ffbb00;
	text-decoration: none;
	margin:auto 20px;
	font-size: 1.3rem;
	font-weight: bold;
}
.intro{
	display:flex;
	justify-content:center;
	background: #161616;
}
.intro p{
	font-size: 1.2rem;
	color: #ffffff;
	width: 80%;
	text-align: center;
}
.desc{
	display: flex;
	text-align: center;
	align-items:center ;
	justify-content: center;
	margin-top: -0.8rem;
}
.desc h3{
	padding-left:1rem;
	padding-right:1rem;
	font-size: 1.6rem;
	color: orange;
}
#d_arrow{
	height: 50px;
	text-align: center;
	cursor: none;
}
/* Gallery code here */
.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 20px 10px;
}
#img {
	width: 100%;
	max-width: 350px;
	height: 300px;
	border-radius: 10px;
	object-fit: contain;
}
.gallery::after {
	width: 350px;
}
#img:hover{
	transform: scale(1.03);
	-webkit-transform:scale(1.03);
	-ms-transform: scale(1.03);
	transition: 0.4s ease;
	box-shadow: 0px 0px 20px black;
}
img:not(:hover){
	transform: scale(1);
	-webkit-transform:scale(1);
	-ms-transform: scale(1);
	transition: 0.6s ease;
}
/* mobile media query */
@media (max-width: 300px) {
	#a{
		margin: auto 2.2px;
		font-size: 0.7rem;
	}
	.gallery {
		gap: 5px;
		padding: 10px 5px;
	}
	#img {
		height: 200px;
		object-fit: contain;
		overflow: hidden;
	}
  } 
/* tablet media query */
@media (min-width: 300px) and (max-width: 768px) {
	#a{
		margin: auto 5px;
		font-size: 0.9rem;
	}
	.gallery {
		gap: 10px;
		padding: 15px 7px;
	}
	#img {
		height: 250px;
		object-fit: contain;
		overflow: hidden;
	}
  }

