* {
	box-sizing: border-box;
  }
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #000000, #090909);
    color: #f5f6f7;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
/* nav {
	display:flex;
	justify-content:center;
    background-color: #242424;
	height: 48.8px;
}
#a{
	color: #ffbb00;
	text-decoration: none;
	margin:auto 20px;
	font-size: 1.3rem;
	font-weight: bold;
} */
.resume_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resume_text h4{
    font-size: 1.5rem;
}
#name{
    color: orange;
}
.resume_text p{
    font-size: 1.3rem;
    margin-top: -1rem;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.buttons button{
    width: auto;
    height: 2em;
    font-size: 1.2rem;
    min-width: 100px;
    border-radius: 10px;
    border-color: #ffbb00;
    background-color: transparent;
    color: rgb(255, 255, 255);
    animation: golwwhite 0.50s ease-in-out infinite alternate-reverse;  
}
@keyframes golwwhite{
    100%{
        text-shadow:
        0 0 3px #ffffff;
    }
    0%{
        text-shadow:
        0 0 3px #ffffff;
    }
    
}

/* mobile media query */
@media (max-width: 300px) {
	.gallery {
		gap: 5px;
		padding: 10px 5px;
	}
	#img {
		height: 200px;
		object-fit: contain;
		overflow: hidden;
	}
    .buttons button{
        font-size: 1rem;
        font-weight: bold;
        border-radius: 10px;
        background-image: linear-gradient(to right, #86C332,#FF8C00);
        border-color: rgb(0, 0, 0);
        min-width: 70px;    
    }
  } 
/* tablet media query */
@media (min-width: 300px) and (max-width: 768px) {
	.gallery {
		gap: 10px;
		padding: 15px 7px;
	}
	#img {
		height: 250px;
		object-fit: contain;
		overflow: hidden;
	}
  }