* {
	box-sizing: border-box;
  }
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1A1A1D;
    color: #f5f6f7;
    font-family: Tahoma;
}
nav {
	margin-top: 0.3rem;
	display:flex;
	justify-content:center;
	background-color: #474B4F;
	/* height: 4vw; */
	height: 78.8px;
}

a{
	color: #86C332;
	text-decoration: none;
	margin:auto 20px;
	font-size: 1.3rem;
	font-weight: bold;
}
/* mobile media query */
@media (max-width: 300px) {
	a{
		margin: auto 1px;
		font-size: 1rem;
	}
  } 
/* tablet media query */
@media (min-width: 300px) and (max-width: 768px) {
	a{
		margin: auto 0px;
		font-size: 1rem;
	}
  }
   
/* Gallery code here */
.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 20px 10px;
	/* position: absolute; */
}
.gallery img {
	width: 100%;
	max-width: 350px;
	height: 300px;
	object-fit:cover;
	border-radius: 10px;
}
.gallery::after {
	/* content: ""; */
	/* content: "this is me after hover"; */
	width: 350px;
}
img:hover{
	content: "this is me after hover";
	transform: scale(1.03);
	-webkit-transform:scale(1.03);
	-ms-transform: scale(1.03);
	transition: 0.4s ease;
	/* filter: blur(2.5px); */
}
img:not(:hover){
	transform: scale(1);
	-webkit-transform:scale(1);
	-ms-transform: scale(1);
	transition: 0.6s ease;
}

